.container{
    
    background-color: rgb(35, 32, 32);
    height: 500px;
    width: 400px;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    border: rgb(237, 98, 200) 10px;
    box-shadow: 15px 10px 10px rgb(75, 65, 65);
    border-radius: 10px;
    border-radius: 20px;
    display: grid;
    
}
.btn1{
    height: 50px;
    width: 80px;
    padding-right: 10px;
    background-color: rgb(70, 68, 68);
    display: inline-flex;
    display: center;
    margin: 5px;
    margin-top: 30px;
    font-size: larger;
    color: white;
    font: center;
}
.btn2{
    height: 50px;
    width: 80px;
    padding-right: 10px;
    background-color: rgb(70, 68, 68);
    display: inline-flex;
    margin: 5px;
    margin-top: 10px;
    font-size: larger;
    color: white;
}
.btn3{
    height: 50px;
    width: 80px;
    padding-right: 10px;
    background-color: rgb(70, 68, 68);
    display: inline-flex;
    margin: 5px;
    margin-top: 10px;
    font-size: larger;
    color: white;
}

.btn4{
    height: 50px;
    width: 80px;
    padding-right: 10px;
    background-color: rgb(70, 68, 68);
    display: inline-flex;
    margin: 5px;
    margin-top: 10px;
    font-size: larger;
    color: white;
}
.btn5{
    height: 50px;
    width: 80px;
    padding-right: 10px;
    background-color: rgb(70, 68, 68);
    display: inline-flex;
    margin: 5px;
    font-size: larger;
    color: white;
    
    
}



#sc{
    height: 90px;
    width: 390px;
    border-radius: 400px;
    padding-bottom: 10px;
    text-align: end;
    
    margin-top: 10px;
    font-size: 50px ;
    padding-left: 4px;
    border: none;
    display: black;


}